<p>updateprofile works!</p>
<h2 class="page-header">Update Profile Pic</h2>
<button style="margin-left: 30px;" (click)="onUpdateProfilePic()">
   Update Profile Picture
</button>

<form (submit)="onProfileSubmit()">
  <div class="form-group">
    <label>About</label>
    <input type="text" class="form-control" [(ngModel)]="about" name="about">
  </div>
  <div class="form-group">
   <label>Location</label>
   <input type="text" class="form-control" [(ngModel)]="location" name="location">
 </div>
 <div class="form-group">
   <label>Website link</label>
   <input type="text" class="form-control" [(ngModel)]="website_link" name="website_link">
 </div>
  <input type="submit" class="btn btn-primary" value="Update">
</form>

