<!-- <p>updateprofile works!</p>
<h2 class="page-header">Update Profile</h2>
<button style="margin-left: 30px;" (click)="onUpdateProfilePic()">
   Update Profile Picture
</button>

<form (submit)="onProfileSubmit()">
  <div class="form-group">
    <label>About</label>
    <input type="text" class="form-control" [(ngModel)]="about" name="about">
  </div>
  <div class="form-group">
   <label>Location</label>
   <input type="text" class="form-control" [(ngModel)]="location" name="location">
 </div>
 <div class="form-group">
   <label>Website link</label>
   <input type="text" class="form-control" [(ngModel)]="website_link" name="website_link">
 </div>
  <input type="submit" class="btn btn-primary" value="Update">
</form> -->

<body>
  <div class="updateprofile-form">
    <h1>Update Profile</h1>
    <br>
    <form (submit)="onProfileSubmit()">
      <input type="text" class="input-box" placeholder="About" [(ngModel)]="about" name="about">
      <br><br><br>
      <input type="text" class="input-box" placeholder="Location" [(ngModel)]="location" name="location">
      <br><br><br>
      <input type="text" class="input-box" placeholder="Website Link" [(ngModel)]="website_link" name="website_link">   
      <!-- <button type="button" class="signup-btn">Update</button> -->
      <input type="submit" class="signup-btn" value="Update">
      <hr>
      <p class="or"><b>OR</b></p>
      <button (click)="open(content)" type="button" class="updatepic-btn">Update Profile Picture</button>
    </form>
  </div>
</body>












<ng-template #content let-modal> 
  <div class="modal-header"> 
      <h4 class="modal-title" 
          id="modal-basic-title"> 
          Update profile photo
      </h4> 
      <button type="button" class="close"
              aria-label="Close" (click)= 
              "modal.dismiss('Cross click')"> 

          <span aria-hidden="true"> 
              × 
          </span> 
      </button> 
  </div> 
  <div class="modal-body"> 
      <form> 
        <div class="card">
          <img src="{{profile}}" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4>
            <form (submit)="onUpdatePic()">
              <div className="btn #64b5f6 blue darken-1">
               <span>Upload Image</span>
               <input type="file" (change)="onFileSelected($event)" class="form-control" name="image"/>
            </div>
              
            </form>
          </div>
        </div>
      </form> 
  </div> 
  <div class="modal-footer"> 
      <!-- <button type="button" 
          class="btn btn-outline-dark" 
          (click)="modal.close('Save click')"> 
          Save 
      </button>  -->
      <input type="submit" class="btn btn-primary" value="Post">
  </div> 
</ng-template> 

<button class="btn btn-lg btn-outline-primary" 
  (click)="open(content)"> 
  Update profile photo 
</button> 
