*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
}



.card {
    
    background: #fff;
    border-radius: 12px;
       
  
  }
.column{
    padding: 0 0px 30 0;
    margin-top: -40px;
    margin-left: 10px;
    background: #fff;
    border-radius: 12px;
    height: 300px;
}


  
.column1 {
    float: left;
    margin-top:-40px ;
    padding: 0 10px 0 100px;
  }
.column2 {
    float: left;
    margin-top: 0px;
    padding: 0 10px 0 10px;
    
  }

  
body {
    font-family: 'Quicksand', sans-serif;
    
  }
  
  
  a, a:hover {
    text-decoration: none;
  }
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .home{
      display: block;
      width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    /* background-image: linear-gradient(-20deg, #4B79A1 0%, #30475E 100%); */
    background-color: #EFEEEE;
  
  
    @media screen and (max-width: 768px) {
      height: auto;
      min-height: 100vh;
      padding-top: 100px;
    }
  }
  
  .home:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .writepost{
    margin-top: -40px;
    background: #fff;
    min-height: 40px;
    border-radius: 12px;

  }


  .column2 .card .writepost .addpost{
      width: 100%;
      height: 100%;
      min-height: 40px;
      background: #fff;
      border-radius: 12px;
      border-color: #c0c0c0;

    
    
    

  }
  .icon1{
      width: 20px;
      height: 20px;
  }

  .profile-card {
     
    margin-top: 100px;
    min-height: 300px;
    
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 1000px;
    position: relative;
  }
  .profile-card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  
    /* &.active {
      .profile-card__cnt {
        filter: blur(6px);
      } */
  
      /* .profile-card-message,
      .profile-card__overlay {
        opacity: 1;
        pointer-events: auto;
        transition-delay: .1s;
      }
  
      .profile-card-form {
        transform: none;
        transition-delay: .1s;
      } */
    
   
    .profile-card__img {
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 4;
      box-shadow: 0px 5px 20px 0px 	#305f72, 0px 0px 0px 5px #f9fafb;
      
  
      @media screen and (max-width: 576px) {
        width: 120px;
        height: 120px;
      }
  }
  /* .profile-card__img:hover {
      box-shadow: 0px 5px 20px 0px 	#305f72, 0px 0px 0px 5px #f9fafb;
    } */
  
  .profile-card__img .img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
  
  
    .profile-card__cnt {
      margin-top: -35px;
      text-align: center;
      padding: 0 20px;
      padding-bottom: 40px;
      transition: all .3s;
    }
  
    .profile-card__name {
      font-weight: 700;
      font-size: 24px;
      color: #305f72;
      margin-bottom: 15px;
    }
  
    .profile-card__txt {
      font-size: 18px;
      font-weight: 500;
      color: #324e63;
      margin-bottom: 15px;
    }
  
     .profile-card__txt strong {
        color: #ff2846;
        font-weight: 700;
      }
  
  
   .profile-card-loc {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
   }
  
  .profile-card-loc__icon {
        display: inline-flex;
        font-size: 27px;
        margin-right: 10px;
        color: #6944ff;
  
    }
  
  
  
  .profile-card-inf{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 35px;
  }
  
  .profile-card-inf__item {
        padding: 10px 35px;
        min-width: 150px;
  
        @media screen and (max-width: 768px) {
          padding: 10px 20px;
          min-width: 120px;
        }
  
      }
  
  .profile-card-inf__title {
        font-weight: 700;
        font-size: 27px;
        /* //color: #6944ff; */
        color: #324e63;
      }
  
  .profile-card-inf__txt {
        font-weight: 500;
        margin-top: 7px;
      }
  