

<div class="home">
  
  
    <div class="column1">
      <div class="card" >
        <div class="profile-card">
          <div class="profile-card__img">
             <img src="{{user.pic}}" style="width:100%;height:100%;border-radius: 50%;" />
          </div>
          <div class="profile-card__cnt js-profile-cnt">
             <div class="profile-card__name">{{name}}</div>
             <div class="profile-card__txt">{{about}} <strong>{{city}}</strong></div>
             <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                  <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                  <img class="icon"  [src]=myImage >
                </span>
        
                <span class="profile-card-loc__txt">
                  {{state}}
                </span>
              </div>
          </div>
              
          </div>
      </div>
    </div>
  
    <div class="column2">

      <div class="columnpost">
        <div class="card">
          <div class="writepost">
            <button class="addpost" (click)="onCreatePost()">
              <img class="icon1" [src]= writePost  />
              Add Post</button>
          </div>
          
         </div>
  
      </div>


      <div class="card home-card"
     style="  max-width: 500px;
     height: max-content;
     margin: 26px auto;"
     *ngFor="let post of posts">
     
      <div class="card" style="border-radius:12px 12px 0 0"> 
        <div >
          <img style="padding:7px; width:50px;height:50px;border-radius:30px;float:left;"
                 src="{{post.postedBy.pic}}"/><h5 style="padding-left:3px;padding-top:12px;font-size:20px"><a [routerLink]="['/profile/',getId(post)]">{{post.postedBy.name}}</a>
           </h5></div></div>
 
          <div class="card-image">
              <img src="{{post.pic}}"/>
          </div>
          <div class="card-content input-field">
            
            <!-- <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size:48px;"></i> -->
            <!-- <i class="material-icons"></i>   -->
            <!-- <button class="material-icons" style="color:blue;cursor: pointer;" (click)="unlike(post)" *ngIf="liked(post)" >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button> -->
                              <!-- <i class="material-icons" svgIcon="thumb-up" style="color:blue;cursor: pointer;" (click)="unlike(post)" *ngIf="liked(post)"></i>
                           
                             <i class="material-icons" svgIcon="thumb-up" style="color:black ;cursor: pointer;" (click)="like(post)" *ngIf="!liked(post)"></i> -->
                             <img [src]=thumbsUp style=" width: 30px; height: 30px; color:blue;cursor: pointer;" (click)="unlike(post)" *ngIf="liked(post)" />
                             <img [src]=thumbsUp2 style=" width: 30px; height: 30px; color:black;cursor: pointer;" (click)="like(post)" *ngIf="!liked(post)" /> 
                                                     
          <br/><h6>{{post.likes.length}} likes<br/></h6>
             <h6>{{post.caption}}</h6>   
 
             <!-- <h6 style="font-weight:500;color:#81858a">{{post.comments.length}} Comments</h6>     
                                 <form
                                 
                                 >
                                   <input type="text" placeholder="add a comment" />  
                                 </form> -->
              
          </div>
      </div>
    </div>

    <div class="column">
      <div class="card" >
        
        <a [routerLink]="['/jobs']"><img [src]=dreamJob style="border-radius: 12px; width: 300px; height: 300px;" ></a>
      </div>
    </div>

    
    
    

     
   </div>
 