<p>jobdetail works!</p>

<div >
   <img style="padding:7px; width:50px;height:50px;border-radius:30px;float:left;"
          src="{{user.pic}}"/>
       </div>
       <h5 style="padding-left:3px;padding-top:12px;font-size:20px"><a [routerLink]="['/jobdetail',job._id]">{{job.job_title}}</a></h5>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">org name:<a
         [routerLink]="['/profile/org/',user._id]">{{user.name}}</a></div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">org about:{{user.about}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">org website_link:{{user.website_link}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">org location: {{user.location}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">apply by:{{Slice(job.apply_by)}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">skills: {{job.skills_required}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">job_description: {{job.job_description}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">start date: {{Slice(job.start_date)}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">end date: {{Slice(job.end_date)}}</div>
       <div style="padding-left:43px;padding-top:12px;font-size:15px">job location: {{job.location}}</div>
   <div *ngIf="authService.isOrg()">
      <h3>Applicants</h3>
      <div *ngFor="let applicant of applicants">
         <div >
            <img style="padding:7px; width:50px;height:50px;border-radius:30px;float:left;"
                   src="{{applicant.pic}}"/>
                </div>
                <a [routerLink]="['/profile/',applicant._id]">{{applicant.name}}</a>
      </div>
   </div>
   <div *ngIf="!authService.isOrg() && !applied()">
      <button style="margin-left: 30px;" (click)="Apply(job._id)">
        Apply
      </button>
   </div>
   <div *ngIf="!authService.isOrg() && applied()">
      <button style="margin-left: 30px;" (click)="Apply(job._id)" disabled>
        Applied
      </button>
   </div>