<p>orgprofile works!</p>
<div><p>Organisation profile works! <br>{{name}}</p>
   followers=={{followers.length}}
   jobs=={{jobs.length}}
   <div>
      <img src="{{profile}}" style="width:120px;height:120px;border-radius: 50%;" />
      <button style="margin-left: 30px;" (click)="onUpdateProfile()" *ngIf="self()">
         Update Profile
      </button>
      <button style="margin-left: 30px;" (click)="Follow()" *ngIf="(!self() && !authService.isOrg() && !followed())">
         Follow
      </button>
      <button style="margin-left: 30px;" (click)="Unfollow()" *ngIf="(!self() && !authService.isOrg() && followed())">
         UnFollow
      </button>
   </div>
   <div>  about: {{about}}<br>
      location:{{location}}<br>
      website:<a href="{{website_link}}"> {{website_link}}</a></div>
 
   
   <br>
   </div>
   