   
<div class="main">
   <div class="row">


      <div class="column1">
        <div class="card">
         <div class="profile-card">
         <div class="profile-card__img">
            <img src="{{profile}}" style="width:100%;height:100%;border-radius: 50%;" />
         </div>
         <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">{{name}}</div>
            <div class="profile-card__txt">{{about}}</div>
            <div class="profile-card-loc">
               <span class="profile-card-loc__icon">
                 <!-- <svg class="icon"><use xlink:href="#icon-location"></use></svg> -->
                 <img class="icon"  [src]=myImage >
               </span>
       
               <span class="profile-card-loc__txt" >
                  <strong style="color: #d5135a;">{{location}}</strong>
               </span>
             </div>
            
   
   
   
             <div class="profile-card-ctr">
   
               <div class="profile-card-inf">
                  <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{followers.length}}</div>
                    <div class="profile-card-inf__txt">Followers</div>
                  </div>
          
                  <div class="profile-card-inf__item">
                     <div class="profile-card-inf__title">{{jobs.length}}</div>
                     <div class="profile-card-inf__txt">Jobs</div>
                   </div>
               
              
            </div>
            <div class="website">
               website:<a href="{{website_link}}" > {{website_link}}</a></div>

               <button  class= "profile-card__button1 button--blue" style="margin-left: 30px;" (click)="onUpdateProfile()" *ngIf="self()">
                  Update Profile
               </button>
            </div>
            
            
            <br>
            <button class="skillcard" style="margin-left: 30px;" (click)="Follow()" *ngIf="(!self() && !authService.isOrg() && !followed())">
               Follow
            </button>
            <button class="skillcard" style="margin-left: 30px;" (click)="Unfollow()" *ngIf="(!self() && !authService.isOrg() && followed())">
               UnFollow
            </button>
            
         </div>
        </div>
      </div>
        </div>
        <!-- <div class="column3">
         <div class="card">
   
            <button class= "profile-card__button2 button--orange" style="margin-left: 30px;" (click)="onAddSkill()" *ngIf="self()">
               <p style="text-align: center;">Add skill</p>
            </button>
            
            <div class="skillcard" *ngFor="let skill of skills">
              <h1>Skill: {{skill.skill.name}}</h1> <br>
              <p>Project url:{{skill.skill.project_url}}</p>
              
   
              
            </div>
            <hr> 
            <button class= "education-card__button2 button--orange" style="margin-left: 30px;" (click)="onAddEd()" *ngIf="self()">
               Add education
            </button>
            <div class="educationcard" *ngFor="let edu of education">
               <h1>Edu: {{edu.studies.study}}</h1><br>
               <p>University name:{{edu.studies.uni_name}}</p> 
            </div>
   
         </div>
       </div>
   
      </div> -->
   
      <!-- <div class="column2">
         <div class="card">
            <h1> People Also Viewed</h1>
   
               
            <div class="recomendation">
               <div *ngFor="let user of all_users">
                  <img src="{{profile}}" style="width:80px;height:80px;border-radius: 50%; padding: 10px;" />
                  <a [routerLink]="['/loading/',user._id]">{{user.name}}</a>  
                  <hr style="width:80%;margin-right:0"> 
               </div>
               
            </div>
            
   
   
         </div>
       </div> -->
   
   
   
    </div>
       
   
   
   
    <!-- modal -->
   
    <ng-template #content let-modal> 
      <div class="modal-header"> 
          <h4 class="modal-title" 
              id="modal-basic-title"> 
              Update profile photo
          </h4> 
          <button type="button" class="close"
                  aria-label="Close" (click)= 
                  "modal.dismiss('Cross click')">  
              <span aria-hidden="true"> 
                  × 
              </span> 
          </button> 
      </div> 
      <div class="modal-body"> 
          <form> 
            <div class="card">
              <img src="{{profile}}" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>{{name}}</b></h4>
                <form (submit)="onUpdatePic()">
                  <div className="btn #64b5f6 blue darken-1">
                   <span>Upload Image</span>
                   <input type="file" (change)="onFileSelected($event)" class="form-control" name="image"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Post">
                </form>
              </div>
            </div>
          </form> 
      </div> 
      <!-- <div class="modal-footer">  -->
          <!-- <button type="button" 
              class="btn btn-outline-dark" 
              (click)="modal.close('Save click')"> 
              Save 
          </button>  -->
          
      <!-- </div>  -->
    </ng-template> 
   </div>      