

<ng-template #content let-modal> 
  <div class="modal-header"> 
      <h4 class="modal-title" 
          id="modal-basic-title"> 
          Update profile photo
      </h4> 
      <button type="button" class="close"
              aria-label="Close" (click)= 
              "modal.dismiss('Cross click')"> 

          <span aria-hidden="true"> 
              × 
          </span> 
      </button> 
  </div> 
  <div class="modal-body"> 
      <form> 
        <div class="card">
          <img src="img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>John Doe</b></h4>
            <form (submit)="onUpdatePic()">
              <div className="btn #64b5f6 blue darken-1">
               <span>Upload Image</span>
               <input type="file" (change)="onFileSelected($event)" class="form-control" name="image"/>
            </div>
              
            </form>
          </div>
        </div>
      </form> 
  </div> 
  <div class="modal-footer"> 
      <!-- <button type="button" 
          class="btn btn-outline-dark" 
          (click)="modal.close('Save click')"> 
          Save 
      </button>  -->
      <input type="submit" class="btn btn-primary" value="Post">
  </div> 
</ng-template> 

<button class="btn btn-lg btn-outline-primary" 
  (click)="open(content)"> 
  Update profile photo 
</button> 
