

<div class="rectangle">
   <p class="text">Don't miss your next opportunity. Sign in to stay updated on your professional world.</p>
</div>
<div class="content">
   <div class="jobOrg">
   
   <div class="NormalUser" style="margin-left: 30px;" >
      <div><h2>Employee/Intern</h2></div>
      <p>Looking for a job?<strong>Let the right people know you’re available.</strong> Create your own account, upload your resume, qualifications and skills.Apply for different posiitons and get your dream job.</p>
      <a (click)="normalUser()" class="pointer">Learn More</a>
      </div>
      <br>
      <hr>
      <div class="Organisation" style="margin-left: 30px;">
      <div><h2>Organisation</h2></div>
      <p>Looking to hire someone? <strong>Let the right people know you’re hiring</strong> .Create your organization's account, post your job, find the people you need and start hiring the best candidates for your organization.</p>
      <a (click)="organisation()" class="pointer">Learn More</a>
      </div>
   </div>
   <div class="imgBox">
      <img [src]=myImage >
   </div>

</div>
