

<div class="rectangle"></div>
<div class="content">
   <div class="jobOrg">
   
   <div class="NormalUser" style="margin-left: 30px;" (click)="normalUser()">
      <h2>NormalUser</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic inventore veniam unde ipsum odio, voluptatum blanditiis tempora sit cum beatae quaerat illo veritatis quod ab, incidunt fugit dolores quam quae.</p>
      <a href="#">Learn More</a>
      </div>
      <hr>
      <div class="Organisation" style="margin-left: 30px;" (click)="organisation()">
      <h2>Organisation</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic inventore veniam unde ipsum odio, voluptatum blanditiis tempora sit cum beatae quaerat illo veritatis quod ab, incidunt fugit dolores quam quae.</p>
      <a href="#">Learn More</a>
      </div>
   </div>
   <div class="imgBox">
      <img [src]=myImage >
   </div>

</div>
