<nav class="navbar navbar-expand-lg navbar-light " style="background-color: black;">
  <a class="navbar-brand1" href="#">Fit </a>
  <div class="rectangle"></div>
  <b class="navbar-brand2" href="#">MyJob</b>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <!-- && authService.isChosen() -->
    <li style="list-style-type:none;margin-left:800px;" *ngIf="!authService.loggedIn() && authService.isChosen()"><a
        [routerLink]="['/login']">Login</a></li>
    <li style="list-style-type:none;margin-left: 20px;" *ngIf="!authService.loggedIn() && authService.isChosen()"><a
        [routerLink]="['/register']">Register</a></li>

    <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && !authService.isOrg()"><a
        [routerLink]="['/createPost']">Create Post</a></li>
        <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && !authService.isOrg()"><a
          [routerLink]="['/profile/',getId()]">Profile</a></li>
    <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && !authService.isOrg()"><a
          [routerLink]="['/home']">Home</a></li>

   
      <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && authService.isOrg()"><a
          [routerLink]="['/createjob']">Create JOB</a></li>
          <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && authService.isOrg()"><a
            [routerLink]="['/jobs']">My Jobs</a></li>
      <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && authService.isOrg()"><a
            [routerLink]="['/home']">Home</a></li>
      <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn() && authService.isOrg()"><a
          [routerLink]="['/profile/org/',getId()]">Profile</a></li>

          <!-- <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn()"><a
            hre>Home</a></li> -->
    <li style="list-style-type:none;margin-left: 20px;" *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()"
      href="#">Logout</a></li>
  </div>
</nav>